<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="md.phone.localecontroller">

    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <!-- LocalePicker.updateLocales reaches ActivityManagerService, which also
         enforces WRITE_SETTINGS on the calling broker UID. -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="false"
        android:directBootAware="true"
        android:hasCode="true"
        android:label="phone.md locale controller">
        <service
            android:name=".LocaleControllerService"
            android:directBootAware="true"
            android:exported="true" />
    </application>
</manifest>
